# <center> Statement

<img src="https://drive.google.com/uc?id=1TgD4z0mmcc_fhFcuY1m-P0s4BicDTaqx" align=right width=150>

<div align=right> อารยา ด่านประชุม <br>รหัสนักศึกษา 1710511104053 </dvi>

**ลำดับขั้นของPython**(The Python Conceptual Hierarchy Revisited)

    1. Programs are composed of modules.
    2. Modules contain statements.
    3. Statements contain expressions.
    4. Expressions create and process objects.

# Python’s Statements

statement บน Python มีลักษณะสำคัญ
1. ใช้กันถ้วนหน้า (Indent) บอก statement ระดับของกั้นหน้า ตามเครื่องหมายทวิภาค (:)
2. หลีกเลี่ยงการใช้วงเล็บ "()" วงเล็บใข้กับตัวเก็บ (Container) แบบ Tuple

In [ ]:
:
    :
        :
            :

กั้นหน้าทำให้ codeของPython อ่านง่าย ทำให้ python เป็นที่นิยมกันทั่วไป

<table>
    <tr>
        <td><div align=center><b> Statement
        <td><div align=center><b> Role (Role)
        <td><div align=center><b> Example (ตัวอย่าง)
    <tr> 
        <td><div align=center>Assignment การให้ค่า
        <td><div align=center>Creating references สร้างการชี้ไปที่ค่า 
        <td><div align=center>a, b = 'good', 'bad' </pre> <br> ทางขวามือเรียกว่า Literals
     <tr> 
        <td><div align=center>Calls and other expressions
        <td><div align=center>Running functions
        <td><div align=center>log.write("spam, ham") 
     <tr> 
        <td><div align=center>print calls
        <td><div align=center>Printing objects
        <td><div align=center>print('The Killer', joke)
     <tr> 
        <td><div align=center>if/elif/else 
        <td><div align=center>Selecting actions
        <td><div align=center>if "python" in text : </pre> <br> print(text)
     <tr> 
        <td><div align=center>for/else 
        <td><div align=center>Iteration
        <td><div align=center>for x in mylist : </pre> <br> print(x)
     <tr> 
         <td><div align=center>while/else 
         <td><div align=center>General loops
         <td><div align=center>while X > Y : </pre> <br> print('hello')
     <tr> 
         <td><div align=center>pass
         <td><div align=center>Empty placeholder
         <td><div align=center>while True : </pre> <br> pass
     <tr>
         <td><div align=center>break
         <td><div align=center>Loop exit 
         <td><div align=center>while True : </pre> <br> if exittest() : break
     <tr> 
         <td><div align=center>continue
         <td><div align=center>Loop continue 
         <td><div align=center>while True : </pre> <br> if skiptest(): continue
     <tr> 
         <td><div align=center>def
         <td><div align=center>Functions and methods 
         <td><div align=center>def f(a, b, c=1, *d) : </pre> <br> print(a+b+c+d[0])
     <tr> 
         <td><div align=center>return
         <td><div align=center>Functions results 
         <td><div align=center>def f(a, b, c=1, *d) : </pre> <br> return a+b+c+d[0]
     <tr> 
         <td><div align=center>yield
         <td><div align=center>Generator functions
         <td><div align=center>def gen(n) : </pre> <br> for i in n : yield i*2
     <tr> 
         <td><div align=center>global
         <td><div align=center>Namespaces
         <td><div align=center>x = 'old' </pre> <br> def function(): </pre> <br>global x, y; x = 'new'
     <tr>
         <td><div align=center>nonlocal
         <td><div align=center>Namespaces (3.X)
         <td><div align=center>def outer(): </pre> <br> x = 'old' </pre> <br>def function(): </pre> <br> nonlocal x; x = 'new'
     <tr>
         <td><div align=center>import
         <td><div align=center>Module access
         <td><div align=center>import sys 
     <tr> 
          <td><div align=center>from
         <td><div align=center>Attribute access
         <td><div align=center>from sys import stdin 
     <tr>
         <td><div align=center>class
         <td><div align=center>Building objects
         <td><div align=center>class Subclass(Superclass): </pre> <br> staticData = [ ] </pre> <br>def method(self): pass 
     <tr>
         <td><div align=center>try/except/ finally 
         <td><div align=center>Catching exceptions
         <td><div align=center>try : </pre> <br> action() </pre> <br>except :</pre> <br>  print('action error')     
     <tr>
         <td><div align=center>raise
         <td><div align=center>Triggering exceptions
         <td><div align=center>raise EndSearch(location)
     <tr>
         <td><div align=center>assert
         <td><div align=center>Debugging checks
         <td><div align=center>assert X > Y, 'X too small'
     <tr>
         <td><div align=center>with/as
         <td><div align=center>Context managers (3.X, 2.6+) 
         <td><div align=center>with open('data') as myfile : </pre> <br> process(myfile)
     <tr> 
         <td><div align=center>del
         <td><div align=center>Deleting references 
         <td><div align=center>del data[k]</pre> <br> del data[i:j] </pre> <br> del obj.attr </pre> <br>del variable
     <tr>

# The Assignment Statement

<pre>
<i>
target = expression
target1 = target2 = expression
target1, target2 = expression1, expression2
target1 += expression
target1, target2, ... = same-length-iterable
(target1, target2, ...) = same-length-iterable
[target1, target2, ...] = same-length-iterable
target1, *target2, ... = matching-length-iterable

### Sequence Assignments

In [6]:
nudge = 1
wink = 2
A, B = nudge, wink
A, B

(1, 2)

In [7]:
[C, D] = [nudge, wink]                                             # List assignment
C, D

(1, 2)

In [6]:
nudge = 1
wink = 2
nudge, wink = wink, nudge                                         # Tuples: swaps values
nudge, wink

(2, 1)

In [7]:
[a, b, c] = (1, 2, 3)                                            # Assign tuple of values to list of names
a, c

(1, 3)

In [8]:
(a, b, c) = "ABC"                                               # Assign string of characters to tuple
a, c

('A', 'C')

### Advanced sequence assignment patterns

In [9]:
string = 'SPAM'

In [10]:
a, b, c, d = string                                            # Same number on both sides

In [11]:
a, d

('S', 'M')

In [12]:
a, b, c = string[0], string[1], string[2:]                    # Index and slice

In [13]:
a, b, c

('S', 'P', 'AM')

In [14]:
a, b, c = list(string[:2]) + [string[2:]]                    # Slice and concatenate

In [15]:
a, b, c

('S', 'P', 'AM')

In [8]:
 a, b = string[:2]

NameError: name 'string' is not defined

In [9]:
c = string[2:]

NameError: name 'string' is not defined

In [5]:
 a, b, c

NameError: name 'a' is not defined

In [10]:
(a, b), c = string[:2], string[2:]                            # Nested sequences

NameError: name 'string' is not defined

In [11]:
 a, b, c

NameError: name 'a' is not defined

In [12]:
 ((a, b), c) = ('SP', 'AM')                                     # Paired by shape and position

In [13]:
a, b, c

('S', 'P', 'AM')

In [14]:
red, green, blue = range(3)
red, blue

(0, 2)

In [15]:
 list(range(3))                                              # list() required in Python 3.X only

[0, 1, 2]

In [31]:
L = [1, 2, 3, 4]

In [32]:
while L:
    front, L = L[0], L[1:]                                  # See next section for 3.X * alternative
    print(front, L)

1 [2, 3, 4]
2 [3, 4]
3 [4]
4 []

## Extended Sequence Unpacking in Python 3.X

### Extended unpacking in action

In [52]:
 seq = [1, 2, 3, 4]

In [53]:
 a, b, c, d = seq

In [54]:
print(a, b, c, d)

1 2 3 4

In [56]:
a, *b = seq

In [57]:
a

1

In [58]:
b

[2, 3, 4]

In [59]:
*a, b = seq

In [60]:
a

[1, 2, 3]

In [61]:
b

4

In [62]:
 a, *b, c = seq

In [63]:
a

1

In [64]:
b

[2, 3]

In [65]:
c

4

In [66]:
a, b, *c = seq

In [67]:
a

1

In [68]:
b

2

In [69]:
c

[3, 4]

In [70]:
a, *b = 'spam'

In [71]:
a, b

('s', ['p', 'a', 'm'])

In [72]:
 a, *b, c = 'spam'

In [73]:
a, b, c

('s', ['p', 'a'], 'm')

In [74]:
 a, *b, c = range(4)

In [75]:
a, b, c

(0, [1, 2], 3)

In [76]:
S = 'spam'

In [77]:
S[0], S[1:]                                                  # Slices are type-specific, * assignment always returns a list

('s', 'pam')

In [78]:
 S[0], S[1:3], S[3]

('s', 'pa', 'm')

In [82]:
L = [1, 2, 3, 4]

In [85]:
while L:
    front, *L = L                                          # Get first, rest without slicing
    print(front, L) (front, L)

1 [2, 3, 4]

TypeError: 'NoneType' object is not callable

### Boundary cases

In [86]:
seq = [1, 2, 3, 4]

In [87]:
 a, b, c, *d = seq

In [88]:
print(a, b, c, d)

1 2 3 [4]

In [89]:
a, b, c, d, *e = seq

In [90]:
print(a, b, c, d, e)

1 2 3 4 []

In [92]:
 a, b, *e, c, d = seq

In [93]:
print(a, b, c, d, e)

1 2 3 4 []

In [94]:
*a, = seq

In [95]:
a

[1, 2, 3, 4]

### A useful convenience

In [96]:
seq

[1, 2, 3, 4]

In [97]:
a, *b = seq                                                        # First, rest

In [98]:
 a, b

(1, [2, 3, 4])

In [99]:
a, b = seq[0], seq[1:]                                           # First, rest: traditional

In [100]:
a, b

(1, [2, 3, 4])

In [101]:
*a, b = seq                                                     # Rest, last

In [102]:
a, b

([1, 2, 3], 4)

In [103]:
a, b = seq[:-1], seq[-1]                                       # Rest, last: traditional

In [104]:
a, b

([1, 2, 3], 4)

# Multiple-Target Assignments

In [119]:
a = b = c = 'icesii'

In [120]:
a, b, c

('icesii', 'icesii', 'icesii')

In [125]:
 c = 'icesii'

In [126]:
b = c

In [127]:
a = b

In [128]:
a

'icesii'

### Multiple-target assignment and shared references

In [137]:
a = b = 0
b = b + 1

a, b

In [143]:
a = b = []

In [146]:
b.append(120)

In [147]:
a, b

([120], [120])

In [148]:
a = []

In [149]:
b = []                                                        # a and b do not share the same object

In [150]:
b.append(42)

In [151]:
a, b

([], [42])

# Augmented Assignments

<table>
    <tr>
        <td><div align=left><b> X += Y 
        <td><div align=left><b> X &= Y 
        <td><div align=left><b> X −= Y 
        <td><div align=left><b> X |= Y
    <tr> 
        <td><div align=left><b> X *= Y 
        <td><div align=left><b> X ^= Y 
        <td><div align=left><b> X /= Y  
        <td><div align=left><b> X >>= Y
    <tr> 
        <td><div align=left><b> X %= Y 
        <td><div align=left><b> X <<= Y 
        <td><div align=left><b> X **= Y 
        <td><div align=left><b> X //= Y
    <tr>

In [173]:
x = 1

In [174]:
x = x + 1                                                      # Traditional

In [175]:
x

2

In [176]:
x += 1                                                        # Augmented

In [177]:
x

3

In [184]:
S =  "spam"

In [182]:
S += "SPAM"                                                   # Implied concatenation

In [185]:
S

'spam'

In [186]:
S = "spam"

In [187]:
S += "SPAM"                                                 # Implied concatenation

In [188]:
S

'spamSPAM'

In [189]:
 L = [1, 2]

In [191]:
 L = L + [3]                                               # Concatenate: slower

In [192]:
L

[1, 2, 3, 3]

In [193]:
L.append(4)                                               # Faster, but in place

In [194]:
L

[1, 2, 3, 3, 4]

In [195]:
L = L + [5, 6]                                           # Concatenate: slower
L

[1, 2, 3, 3, 4, 5, 6]

In [196]:

L.extend([7, 8])                                        # Faster, but in place
L

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [198]:
L += [9, 10]                                         # Mapped to L.extend([9, 10])
L

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [199]:
 L = []
L += 'spam'

In [200]:
L

['s', 'p', 'a', 'm']

### Augmented assignment and shared references

In [202]:
 L = [1, 2]
 M = L                                              # L and M reference the same object
 L = L + [3, 4]                                     # Concatenation makes a new object
L, M                                                # Changes L but not M

([1, 2, 3, 4], [1, 2])

In [204]:
 L = [1, 2]
 M = L
 L += [3, 4]                                        # But += really means extend
 L, M

([1, 2, 3, 4], [1, 2, 3, 4])

#### Variable Name Rules

<table>
    <tr>
        <td><div align=center><b> False 
        <td><div align=center><b> class 
        <td><div align=center><b> finally 
        <td><div align=center><b> is
        <td><div align=center><b> return
    <tr> 
        <td><div align=center> None  
        <td><div align=center> continue 
        <td><div align=center> for  
        <td><div align=center> lambda
        <td><div align=center> try
    <tr> 
        <td><div align=center> True 
        <td><div align=center> def 
        <td><div align=center> from
        <td><div align=center> nonlocal 
        <td><div align=center> while
    <tr> 
        <td><div align=center> and 
        <td><div align=center> del 
        <td><div align=center> global 
        <td><div align=center> not
        <td><div align=center> with
    <tr> 
        <td><div align=center>as 
        <td><div align=center> elif  
        <td><div align=center> if 
        <td><div align=center> or 
        <td><div align=center> yield
    <tr> 
        <td><div align=center> assert  
        <td><div align=center> else  
        <td><div align=center> import 
        <td><div align=center> pass
    <tr> 
        <td><div align=center> break 
        <td><div align=center> except  
        <td><div align=center> in  
        <td><div align=center> raise
    <tr>

# Expression Statements

<table>
    <tr>
        <td><div align=left><b> Operation 
        <td><div align=left><b> Operation Interpretation
    <tr> 
        <td><div align=left>spam(eggs, ham) 
        <td><div align=left>Function calls
     <tr> 
          <td><div align=left>spam.ham(eggs) 
        <td><div align=left>Method calls
     <tr> 
          <td><div align=left>spam 
        <td><div align=left>Printing variables in the interactive interpreter
     <tr> 
          <td><div align=left>print(a, b, c, sep='') 
        <td><div align=left>Printing operations in Python 3.X
     <tr> 
          <td><div align=left>yield x ** 2 
        <td><div align=left>Yielding expression statements
     <tr>

### Statement forms

<table>
    <tr>
        <td><div align=center><b> Python 2.X statement 
        <td><div align=center><b> Python 3.X equivalent 
        <td><div align=center><b> Interpretation
    <tr> 
        <td><div align=center> print x, y 
        <td><div align=center> print(x, y) 
        <td><div align=left> Print objects’ textual forms to sys.stdout; add a </pre> <br>space between the items and an end-of-line at the end
     <tr> 
        <td><div align=center> print x, y,   
        <td><div align=center> print(x, y, end='') 
        <td><div align=left> Same, but don’t add end-of-line at end of text
    <tr> 
        <td><div align=center> print >> afile, x, y 
        <td><div align=center> print(x, y, file=afile) 
        <td><div align=left> Send text to afile.write, not to </pre> <br> sys.stdout.write
     <tr>

# Print Command

In [1]:
a = 3
print(" %d "%a)

 3

In [2]:
b = 2.7532
print('b = %3.2f'%b)

b = 2.75

In [3]:
print("{}" .format(b))

2.7532